<%- include('includes/head.ejs') %>
    <h1>Bienvenido a la Orden Final</h1>
    <main>
        <h3>Este es el principio del fin...</h3>
        <p>Los soldados de tu imperio:</p>
        <div class="row">
        <% if (soldados.length > 0) { %>
                <% for (let soldado of soldados) { %>
                    <div class="col s12 m4 l3">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="https://media.fortniteapi.io/images/4ebf56a20d74e89398c380003eca1bf3/transparent.png">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= soldado.nombre %><i class="material-icons right">more_vert
                            </i></span>
                            <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= soldado.nombre %><i class="material-icons right">close</i></span>
                            <p>Hola.</p>
                            </div>
                        </div>
                    </div>
                <% } %>
        <% } else { %>
            <h3>No existen soldados</h3>
        <% } %>   
        </div>
        <% if (ultimo_soldado != '') { %>
            <br>
            <p>El último soldado agregado fue: <%= ultimo_soldado %></p>
        <% } %>
        <a href="/imperio/nuevo">
            <i class="material-icons">add_circle</i> Agrega un nuevo sith trooper</a>
    </main>
<%- include('includes/foot.ejs') %>