<%- include('includes/head.ejs') %>
    <h1>Creador virtual de caballos</h1>
    <main>
        <h2>Aquí puedes crear un nuevo caballo para tu establo:</h2>
        <p><%= nombre %>, por favor ingresa los datos del nuevo caballo:</p>
        <form action="/caballos/nuevo" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <label for="nombre">Nombre del nuevo caballo</label>
            <input type="text" name="nombre" required>
            <label for="descripcion">Descripción</label>
            <input type="text" name="descripcion" required>
            <br><br>
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" required>
            <br><br>
            <div class="input-field col s12">
                <select id="duenio_id" name="duenio_id">
                    <option value="" disabled selected>Selecciona el dueño del caballo</option>
                    <% for (let duenio of duenios) { %>
                        <option name="duenio_id" value="<%= duenio.username %>"><%= duenio.nombre %></option>
                    <% } %>
                </select>
                <label>Materialize Select</label>
              </div>
              <button class="btn waves-effect waves-light" type="submit" value="Enviar">Submit
                <i class="material-icons right">send</i>
              </button>
      
        </form>
        <br><br>
        <a href="/caballos/">Regresar a la lista de caballos</a>
    </br>
<%- include('includes/foot.ejs') %>

